<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1>Bienvenido Sr <%= @user.name %>.</h1>
		<div class="text-justify">
			<h3>Muchas gracias por su suscripcion, estare encantado de informar le sobre mis avances en el mundo de la programacion y diseño web.</h3>
		</div>
		<br />
		<br />
		<%= link_to 'OK', '/users', class: "btn btn-lg btn-success" %>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
